/* FONT */
@font-face {
  font-family: Montserrat;
  src: url(./Fonts/Montserrat/Montserrat-Light.ttf);

  font-family: Nerko_One;
  src: url(./Fonts/Nerko_One/NerkoOne-Regular.ttf);
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  border: 2px dashed black;
  padding: 5px;
}

header {
  font-family: "Nerko_One";
}

body {
  font-family: "Montserrat";
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 480px;
  max-width: 100%;
}

/* HEADER */

.header {
  max-width: 100%;
}
.title {
  background-color: white;
  color: orange;
  text-align: center;
}

/* SCRITTE */
.sottotitolo {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: small;
  padding: 15px 0 5px;
}

.nome-dolce {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(78 57 105);
  padding-bottom: 17px;
}

.presentation {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: thin;
  letter-spacing: 2px;
  font-size: larger;
}

.text {
  padding-top: 10px;
  padding-bottom: 30px;
  line-height: 25px;
}

/* CONTAINER VIDEO */
.box-video {
  background-color: white;
  height: 530px;
}

.title-list {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 20px;
}

.list-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 4px 20px;
}

/* BUTTON */
.button {
  height: 30px;
  width: 40px;
  background-color: white;
  padding: 7px 13px;
  border-radius: 13px;
}

.line-buttons {
  padding: 20px 0 20px;
}

.container .line-buttons {
  display: flex;
  justify-content: space-between;
}

.img1 {
  padding-left: 80px;
  padding-right: 80px;
}

.linea-gialla {
  height: 1px;
  width: 75px;
  background-color: orange;
  margin-bottom: 10px;
}

/* MAIN */
.box-presentation {
  width: 200px;
  height: 25px;
}

/* FOOTER */
.bottom-page {
  background-color: #7c69a4;
  color: white;
}

.azienda {
  font-size: 14px;
  font-family: "arial";
  padding-top: 20px;
  text-align: center;
}

.indirizzo {
  text-align: center;
  font-size: 13px;
  padding-top: 8px;
}

.bottom-list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 50px;
  padding-right: 50px;
  flex-wrap: wrap;
}

.bottom-list-item {
  text-decoration: underline;
  text-align: center;
  margin-left: 27px;
  font-size: 12px;
  margin-top: 10px;
}
