/* FONT */
@font-face {
  font-family: Montserrat;
  src: url(./Fonts/Montserrat/Montserrat-Light.ttf);

  font-family: Nerko_One;
  src: url(./Fonts/Nerko_One/NerkoOne-Regular.ttf);
}

/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.debug {
  border: 2px dashed black;
  padding: 5px;
}

header {
  font-family: "Nerko_One";
}

body {
  font-family: "Montserrat";
  background-color: #f6f5f3;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 480px;
  max-width: 100%;
}

/* HEADER */

.header {
  max-width: 100%;
}
.title {
  background-color: white;
  color: orange;
  text-align: center;
}

/* SCRITTE */
.sottotitolo {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: small;
  padding: 15px 0 5px;
}

.nome-dolce {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(78 57 105);
  padding-bottom: 17px;
}

/* CONTAINER VIDEO */
.box-video {
  background-color: white;
}

.bottom-page {
  background-color: #7c69a4;
  color: white;
}
